header img
{
	margin-top: 10px;
	height: 100px;
	width: 125px;
	margin-left: 50px;
	float: left;
}
header
{
	background-color: white;
}

#grad1{
	background-image: linear-gradient(to bottom, black , white);
}
body
{
	margin:0;
	padding: 0;
	background-image: url("../imagini/123.jpg");
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
	
}
section {
	
}
a{
	color: white;
	text-decoration: none;
	text-align: center;
}
nav{
	float: left;
}
nav ul{
	position: fixed;
	margin-left: 20%;
	margin-top: 50px;
	text-align: center;
}
nav ul li{
	display: inline-block;
	margin-left: 50px;
	font-size: 30px;
	text-align: center;

}
#harta img{
	float: left;
	margin-top: 7%;
	margin-left: 25%;
}
#continut{
	padding: 20px;
	max-width: 80%;
	margin: auto;
	background-color: #47817F;
	margin-top: 35%;
	text-align: justify;
	border-radius: 25px;

}
#continut h1{
	text-align: center;
}