html {
    background-color:#999999 !important;
}

body {
    background-color: white;
    border: 2px solid black;
    padding: 50px;
    margin: 100px;
    border-radius: 5px;
}

hr{
    clear:both;
}

header{
    background-color: turquoise;
    color:black;
    text-align: center;
}

.box {
    float: left;
    width: 130px;
    height: 130px;
    border: 2px solid black;
    text-align: center;
    margin: 15px;
    
}

.box2{
    float: right;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 15px;
    
}



#footer{
    clear:both;
    padding: 10px;
    margin: 10px;
    background-color: #999999;
    color:white;
    text-align:center;
}

