header img
{
	margin-top: 10px;
	height: 100px;
	width: 125px;
	margin-left: 50px;
	float: left;
}

#grad1{
	background-image: linear-gradient(to bottom, black , white);
}
body
{
	display: block;
	margin:0;
	padding: 0;
	background-image: linear-gradient(to bottom, #006e6c, #54909d, #95b1c3, #cfd6e2, #ffffff);
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
	
}
section {
	
}
.navbar{
	position: fixed;
}
a{
	color: white;
	text-decoration: none;
	text-align: center;
}
nav{
	float: left;
}
nav ul{
	background-color:#006E6C;
	padding: 10px; 
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	position: fixed;
	margin-left: 25%;
	margin-right: 20%;
	margin-top: 50px;
	text-align: center;
}
nav ul li{
	display: inline-block;
	margin-left: 25px;
	margin-left: 25px;
	font-size: 30px;
	text-align: center;

}
.harta{
	display: block;
	width: 80%;
	position: center;
}
#harta1{
	display: block;
	margin-top: 7%;
	margin-left: 17%;
	align-self: left;
}
#continut{
	padding: 20px;
	max-width: 80%;
	margin: auto;
	background-color:#006E6C;
	margin-top: 40%;
	text-align: justify;
	border-radius: 25px;
	font-size: 20px;
	clear: both;
}
#continut h1{
	text-align: center;
	clear: both;
}
* {
  box-sizing: border-box;
}
.tabel{
	background-color: #006E6C;
	margin-left: auto;
	border: 1px solid #ddd;
	margin-right: auto;
}
th, td{
	border-bottom: 1px solid #ddd;
}
.row h2{
	text-align: center;
}
.row{
	margin-left: 17%;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 25px;

}
.column {
 float: left;
 border-radius: 25px;
 margin-left: 5px;
  width: 40%;
  padding: 10px;
  height: 325px;
  background-color:#006E6C;  /* Should be removed. Only for demonstration */
}
.column2{
	float: left;
 border-radius: 25px;
 margin-left: 5px;
  width: 40%;
  padding: 40px;
  height: 325px;
  background-color:#006E6C;
  text-align: justify;
}

/* Clear floats after the columns */
