html {
  background-image: linear-gradient(to bottom, #006e6c, #54909d, #95b1c3, #cfd6e2, #ffffff);
}

a{
	color: black;
	text-decoration: none;
	text-align: center;
}

body{
  background-image: linear-gradient(to top, #006e6c, #54909d, #95b1c3, #cfd6e2, #ffffff);
  position : relative;
  border: 2px solid black;
  margin: 3%;
  margin-top : 0;
  margin-bottom: 0;
  border-radius: 5px;
}

.top_navigation{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
}

.button:hover{
  background-color : white;
  color : #00000f;
}

.continut{
  border-style: solid;
	max-width: 80%;
	margin: auto;
	background-color: #2DACAA;
	text-align: justify;
	border-radius: 25px;
	padding : 20px;
}

.nl{
	float : left;
	text-shadow: 2px 2px #ff0000;
	width : 8%;
	font-size : large;
}

p{
	display : inline;
	text-align : left;
	font-size : 16px;
}

.supporting{
	background-color: rgba(255, 255, 255, 0.9);
  border-top: 5px solid #dd3b2a;
  border-bottom: 5px solid #2babe1;
  float: left;
  position: relative;
  width: 100%;
  z-index: 3;
}

.col-container{
	display: flex;
  max-width: 80%;
	margin: auto;
  background-color: #2DACAA;
	margin-top: 3%;
	text-align: justify;
	border-radius: 25px;
	padding : 20px;}

.col{
	flex:1;
	padding : 16px;
}

h1{
	text-align : center;
	font-size : 40px;
}

table {
  margin-top : 7%;
  margin-left : 30%;
  border-collapse: collapse;
  width: 60%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}
th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {background-color:#f5f5f5;}

.grid-container{
  display : grid;
  grid-template-columns : auto auto auto auto auto;
  text-align : center;
  font-size : 25px;
  margin-bottom : 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: black;
  cursor: pointer;
  font-size : 25px;
  padding : 10px;
  border-radius : 24px;
  margin: 4px 2px;
  border : 2px solid black;
  background-color : #006e6c;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: black;
  cursor: pointer;
  font-size : 25px;
  padding : 10px;
  border-radius : 24px;
  border : 2px solid black;
  background-color : #006e6c;
}

.dropdown:hover .dropdown-content{
  display:block;
}

.dropdown-content:hover a{
  display:block;
}

.dropdown:hover a{
  display:block;
}

.dropbtn:hover {
  background-color : black;
  border : 2px solid white;  
}

.dropdown:hover .dropbtn{
  color : white;
}

.lay{
  position: relative;
}

.obj {
  color: black;
  cursor: pointer;
  font-size : 25px;
  padding : 10px;
  border-radius : 24px;
  margin: 4px 2px;
  border : 2px solid black;
  background-color : #006e6c;
}

.obj:hover a{
  color : white;
}

.obj:hover {
  background-color : black;
  border : 2px solid white;
}
