html {
    background-repeat: no-repeat;
}

body {
    display: block;
    background-image: linear-gradient(to bottom, #006e6c, #54909d, #95b1c3, #cfd6e2, #ffffff);
}

header {
    height: 100px;
    background-image: radial-gradient(circle, #228180, #629eac, #9fbbce, #d4dbe8, #ffffff);
}

header ul {}

nav {
    float: left;
}

nav ul {
    display: flex;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 50%;
    margin-right: 25%;
    margin-top: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

nav ul li:hover {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

#cookie {
    margin-top: 20px;
    height: 70px;
    width: 70px;
    margin-left: 50px;
    float: left;
    -ms-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

#cookie:hover {
    -ms-transform: rotate(15deg);
    /* IE 9 */
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

#contur {
    background-image: linear-gradient(to top, #006e6c, #54909d, #95b1c3, #cfd6e2, #ffffff);
    position: relative;
    border: 2px solid black;
    margin: 3%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.gotopbtn {
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 25px;
    right: 100px;
    text-decoration: none;
    background-color: #cdd5e1;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 25px;
    font-size: 22px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    font-size: 25px;
    margin-bottom: 7%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: black;
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
    border-radius: 24px;
    margin: 4px 2px;
    border: 2px solid black;
    background-color: #006e6c;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
    border-radius: 24px;
    border: 2px solid black;
    background-color: #006e6c;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content:hover a.theo {
    display: block;
}

.dropdown:hover a.theo {
    display: block;
}

.dropbtn:hover {
    background-color: black;
    border: 2px solid white;
}

.dropdown:hover .dropbtn {
    color: white;
}

.lay {
    position: relative;
}

.obj {
    margin: auto;
    color: black;
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
    border-radius: 24px;
    margin: 4px 10%;
    border: 2px solid black;
    background-color: #006e6c;
}

.obj:hover a.theo {
    color: white;
}

.obj:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}

.dropdown-content:hover {
    display: block;
    color: white;
    background-color: black;
    border: 2px solid white;
}

.dropdown-content:hover a.theo {
    display: block;
    color: white;
    background-color: black;
}

a.theo:hover {
    color: white;
    background-color: black;
    border: 0.5px solid white;
    border-radius: 24px;
}

#locator {
    position: absolute;
    visibility: visible;
    left: 27%;
}

#copyright {
    text-align: center;
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

#myDIV {
    min-width: 10%;
    height: auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

hr {
    clear: both;
}

main {
    background-color: white;
    margin: 200px;
    border-radius: 5px;
    display: block;
    min-width: 450px;
    border: 1px solid black;
}

.sect1 {
    background-image: url('shocking-facts-about-obesity.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35em;
    min-width: 100%;
    margin: auto;
}

#titlu-imagine {
    float: left;
    width: 200px;
    text-align: center;
    margin: 15px;
}

.btnshowhide {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    padding: 10px;
    font-size: 1vw;
    max-width: 15%;
}

#showhide {
    border-radius: 50%;
    padding: 10px;
    border: 5px solid black;
    background-color: white;
    font-size: 2vw;
}


/*imagine formatare */

h1 {
    text-align: center;
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 18px;
    text-shadow: 1px 0 0 black;
}

.sect3 {
    background-color: white;
    min-width: 80%;
    height: auto;
    display: block;
    padding: 5px;
}

.sect3 h1 {
    margin: 20px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: black;
    line-height: 500px;
    text-align: center;
    background: black;
    padding: 20px;
    margin: 80px;
}

.box1 {
    max-width: 200px;
    border: black solid;
    color: white;
    margin: auto;
}

.box2 {
    float: right;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
}


/* The navigation menu links */

.sidenav {
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: white;
    overflow-x: hidden;
    padding: 8px 0;
    border: 5px solid black;
    border-radius: 10px;
}

.sidenav h2 {
    text-align: center;
}

.sidenav a {
    padding: 3px;
    font-size: 22px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: turquoise;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav1 {
    width: 150px;
    position: absolute;
    z-index: 1;
    padding: 5px;
    top: 400px;
    left: 10px;
    background: white;
    overflow-x: hidden;
    padding: 8px 0;
    border: 5px solid black;
    border-radius: 10px;
}

#calculator {
    background-image: url('calculator.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20em;
    min-width: 50%;
    margin: auto;
}


/*go to top button*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: black;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}